.strategyCard {

    display: flex;
    flex-direction: column;
    //height: 700px;
    width: 100%;

    color: #515674;

    background: linear-gradient(112.87deg, #edf2f7 0%, #e7deee 100%), #d9d9d9;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px 20px 20px 20px;

    .cardContentContainer {

        display: flex;
        flex-direction: column;
        align-items: start;
        font-family: 'Manrope';
        font-size: 14px;


        .columns {
            display: flex;
            flex-direction: row;
            width: 100%;

            .left {
                width: 50%;
            }

            .right {

            }
        }

        .stratList {
            
        }

        .graph {

        }

        .strategyName {
            font-size: 16px;
            padding-bottom: 15px;
            color: #212225;
            // font-weight: bold;
        }

        .regionsContainer {
            display: grid;
            grid-gap: 6px;
            grid-template-columns: repeat(3, 1fr);

            img {
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
            }

        }



        .goalName {
            color: #212225;
        }

        .productNames {

        }

        

        .levers {

        }

        .title {
            font-size: 12px;
            color: #B1B5C1;
            padding-top: 15px;
        }
    }

    .strategyButton {
        font-weight: medium;
        display: flex;
        grid-gap: 5px;
        justify-self: end;

        font-size: 16px;
        padding-bottom: 15px;
        color: #000;
        margin-top: 20px;

        svg {
            margin-top: 4px;
        }
    }


}